@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-btn.ant-btn-primary {
  background: #89b3eb;
  width: 100%;
  border: 0;
}

.ant-btn.ant-btn-primary:hover {
  background: #7ab3f8;
}

.login-form {
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row-ground {
  background-image: url(./images/IMG_14331.png);
  background-size: 50%;
}

.login-form-field {
  width: 64%;
}

.btn-login {
  height: 45px;
  border-radius: 26px;
  min-width: 180px;
  width: 50%;
  background: linear-gradient(225deg, #5099f0 0%, #9486fb 100%);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 18px;
  text-align: center;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.3s;
  text-transform: uppercase;
}
.btn-login:hover {
  color: #9486fb;
  border-color: #9486fb;
}

.btn-register {
  box-sizing: border-box;
  height: 45px;
  border: 1px solid #5398f0;
  border-radius: 26px;
  background-color: #ffffff;
  min-width: 180px;
  width: 50%;
  display: inline-block;
  color: #63a7ff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 44px;
  text-align: center;
  margin: 10px 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.btn-register:hover {
  color: #9486fb;
  border-color: #9486fb;
}

.signup-text {
  font-family: 'Myriad Pro', serif;
  color: #5c627c;
  font-size: 16px;
  font-weight: normal;
}

.main-title {
  font-size: 28px;
  margin-bottom: 10%;
  display: block;
  color: rgb(96, 98, 155);
  text-transform: uppercase;
  text-align: center;
}

.bottom-login-text {
  display: flex;
  flex-direction: column;
}

.price {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
}

.discount {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #888;
  margin-right: 5vh;
}

.salesEnd {
  color: red;
  font-weight: bold;
}

.spin-load {
  position: absolute;
  left: 50%;
  bottom: 50%;
}
